.PopularDestinations{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0px;
    font-size: 1.3rem;
}
.PopularDestinations .h1-p{
    margin-bottom: 4rem;
    text-align: center;
}
.PopularDestinations .text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap !important;
    margin: 40px 4rem;
}

.PopularDestinations .text-img .text {
    width: 50%;
}

.PopularDestinations .text-img .img {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 15px;
    width: 40%;
    position: relative;
}

.PopularDestinations .text-img .img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.img img:nth-child(2) {
    position: absolute;
    width: 50% !important;
    top: -10%;
    right: 0;
  }
  @media screen and (max-width:600px) {
    .PopularDestinations .text-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin: 2rem 0px;
        text-align: center;
    }
    .PopularDestinations .text-img .img {
        width: 90%;
    }
    .PopularDestinations .text-img .text , .PopularDestinations .h1-p {
        width: 85%;
    }
  }