.RecentTrips{
    width: 90vw;
    height: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.RecentTrips .h1-p{
    text-align: center;
}
.RecentTrips .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0px;
}
.RecentTrips .container .card{
    width: 32%;
    min-height: 440px;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0, 0, 0, 0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 1rem 0.8rem;
    background-color: white;
}
.RecentTrips .container .card h5{
    margin: 10px 0px;
}
.RecentTrips .container .card img{
    width: 100%;
    height: 200px;
    border-radius: 7px;
    overflow: hidden;
    object-fit: cover;
}
@media screen and (max-width:600px) {
    .RecentTrips .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .RecentTrips .container .card , .RecentTrips .h1-p{
        width: 85%;
    }
}